.container{
    display: flex;
    border:2px solid black;
}

.flex-grow-3{
    flex-grow: 3;
}

input {
    float:right;
}

label {
    float:left;
}

.front-title {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}